<!-- <span [ngSwitch]="alerta">
  <p *ngSwitchCase="'sucess'">SUCESS</p>
  <p *ngSwitchCase="'info'">INFO</p>
  <p *ngSwitchCase="'warning'">WARNING</p>
  <p *ngSwitchDefault>ESTUPIDO Y SENSUAL DEFAULT SWITCH</p>
</span> -->

<button (click)="alerta='sucess'" class="btn btn-secondary">
  Cambiar
</button>
<div [ngSwitch]="alerta">
  <div *ngSwitchCase="'sucess'" class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
    A simple warning alert—check it out!
  </div>
  <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
    A simple info alert—check it out!
  </div>
  <div *ngSwitchDefault class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
  </div>
</div>
